body{
    margin: 0;
    box-sizing: border-box;
}

.mainvisual{
    width: 90%;
    margin: 0 auto;
    margin-top: 70px;
}

.mainvisual img{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

/* headerここからです */

header{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 30px auto;
    font-size: 14px;
}

header h1{
    margin: 0;
    margin-right: 50px;
}

header img{
    max-width: 110px;
    display: inline-block;
}

header ul{
    display: flex;
    list-style: none;
    width: 181px;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
}

header li{
    font-size: 14px;
}
/* headerここまでです */

/* mainここからです */
.container{
    max-width: 1000px;
    margin: 0 auto;
    align-content: center;
    padding: 0 18px;
}

.concept-img{
    width: 50%;
}

.concept-img img{
    width: 100%;
}


.concept-section{
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 60px;
}

.section{
    width: 50%;
    /* padding: 0 7%;   */
}

.section h2{
    margin-top: 0;
    margin-bottom: 4px;

}
.section span{
    margin: 0 0 6px;

}
.section p{
    margin: 0;
}
/* <!-- /* mainここまでです */  

/* footerここから */
footer{
    max-width: 964px;
    margin: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
footer img{
    width: 110px;
}

footer p{
    font-size: 14px;
    color: black;
}

@media(max-width:840px){  
.concept-section{
    display: block;
}

.concept-img{
    width: 100%;
}

.section{
    width: 100%;
}

}
